user_pref("mail.account.account1.server", "server1");
user_pref("mail.account.account1.identities", "id1");
user_pref("mail.accountmanager.accounts", "account1");
user_pref("mail.accountmanager.defaultaccount", "account1");
user_pref("mail.identity.id1.fullName", "{{ user_name }}");
user_pref("mail.identity.id1.useremail", "{{ user_email }}");
user_pref("mail.server.server1.hostname", "mail.techskills.org");
user_pref("mail.server.server1.type", "imap");
user_pref("mail.server.server1.userName", "{{ user_name }}");
