<!DOCTYPE html>
<html>
<head>
    <title>Bem-vindo ao Servidor Web</title>
</head>
<body>
    <h1>Servidor Web Apache</h1>
    <p>Data e hora de implantação: {{ ansible_date_time.date }} {{ ansible_date_time.time }}</p>
</body>
</html>
