[Unit]
Description=Backup de /var/mail para servidor remoto
After=network.target

[Service]
User=root
ExecStart=/usr/bin/rsync -az /var/mail/ {{ vault_rsync_user }}@backup.techskills.org:/mnt/backup/{{ inventory_hostname }}
PrivateTmp=true
